.formacion{
    background-color: #e4eaf7;
}

.formacion-borde{
    width: fit-content;
    margin: 0 auto 2rem;
}

.formacion__detalles {
    width: fit-content;
    margin: auto;
}

.formacion__detalles-logo{
    background: #ffffff url("../img/alura.avif") no-repeat left / calc(100% - 0.35rem);
    width: 25vw;
    height: 40vh;
    padding: 0.1px;
}

.formacion__detalles-logo img{
    display: block;
    width: 80%;
    margin: 50px auto 0;
}

.formacion__detalles-titulo{
    font-size: 13px;
    padding: 0.25rem 0 0.25rem 0;
}

.formacion__detalles-texto{
    font-size: 13px;
}

@media(max-width:768px){
    .formacion__detalles{
        width: 100%;
    }
    .formacion__detalles-logo {
        width:100%;
    }
}