.habilidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.titulo {
    text-align: center;
    border-bottom: 1px solid #000000;
    padding-bottom: 5px;
}

.habilidades__parrafo {
    margin: 1.5rem;
}

.habilidades__frameHerra {
    width: 100%;
}

.habilidades-titulo {
    color: #1d90dd;
    display: inline-block;
    border-bottom: 1px solid #1d90dd;
    padding-bottom: 5px;
}

.habilidades-img {
    width: 12%;
    margin: 1.2rem;
    transition: all 0.5s ease-in-out;
}

.habilidades-img:hover {
    transform: scale(1.2);
}

@media(max-width:768px){
    .habilidades {
        height: auto;
    }
    .habilidades-img {
        margin: 1.2rem;
    }

    .habilidades__lenguajes-icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media(max-width:468px){
    .titulo{
        font-size: 1.2rem;
    }
}
