.principal {
    background-color: #00161C;
    position: sticky;
    top: 0;
}

.navegacion {
    height: 10vh;
    /*display: flex;*/
    align-items: center;
}

.navegacion__menu {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    padding: 0;
    font-family: 'playfair display';
    font-style: italic;
    line-height: 10vh;
}

.navegacion .menu__item {
    list-style: none;
}

.navegacion .menu__item-enlace {
    color: #ffffff;
    text-decoration: none;
}

.menu__item a:hover {
    color: #D4AF37;
    text-decoration: underline;
}

@media(max-width:768px) {
    .navegacion__menu{
        flex-wrap: wrap;
        line-height:normal;
        height: 10vh;
        width: 100%;
    }

    .navegacion .menu__item{
        width: 10%;
        padding: 0.5rem;
        align-self: center;
        text-align: center;
    }
}

@media(max-width:468px){
    .principal{
        position: static;
    }
    .navegacion{
        height: auto;
    }
    .navegacion__menu{
        flex-direction: column;
        align-items: center;
        height: auto;
        margin: auto;
        line-height: 10vh;
        flex-wrap: nowrap;
    }

    .navegacion .menu__item {
        width: 100%;
        padding: 0;
    }
}