*{
    margin: 0;
}

:root{
    scroll-behavior:smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: Arial, Helvetica, sans-serif;*/
}

.principal{
    background-color: #00161C;
    position: sticky;
    top: 0;
}

.navegacion{
    height: 10vh;
    display: flex;
    align-items: center;
}

.navegacion__menu{
    display: flex;
    justify-content: center;
    width: 70%;
    justify-content: space-evenly;
    padding: 0;
    font-family: 'playfair display';
    font-style: italic;
}

.navegacion .menu__item{
    list-style: none;
}

.navegacion .menu__item-enlace{
    color:#ffffff;
    text-decoration: none;
}

.menu__item a:hover{
    color: #D4AF37;
    text-decoration:underline;
}

.portada{
    background-color: #00161C;
    display: flex;
}

.portada__imagen{
    background-image: linear-gradient(rgba(12, 12, 12, 0.3)100%, rgba(71, 52, 52, 0.3)100%), url("img/imagen-principal.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    width: 70%;
    height: 500px;
}

.portada__imagen-datos{
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-family: 'Roboto Slab', serif;
}

.portada__imagen-datos > p{
    padding: 0 0 2rem 3rem;
    font-size:1.5rem;
}

.portada__imagen-datos h1{
    padding: 0 0 2rem 3rem;
    font-size: 3rem;
}

.portada__perfil{
    width: 30%;
}

.portada__perfil-contenedor{
    height: calc(100% - 4rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    color: #ffffff;
    text-align: center;
}

.portada__perfil-contenedor p{
    font-size: 0.75rem;
    line-height: 1.5;
}
.perfil__imagen-logo{
    width: 150px;
}

.perfil__imagen-logo{
    border-radius:50%;
    /*box-shadow: 10px 10px 30px rgb(8, 8, 8);*/
}

.portada__social{
    width: 100%;
    display: flex;
    justify-content: center;
}

.portada__social img{
    height: 20px;
    margin-left: 10px;
}

.portada__social-imagen{
    background-color:#00161C;
    border-radius: 3px;
}

.sobreMi{
    background-color: #e4eaf7;
        
}

.sobreMi__detalles{
    width: 50%;
    padding: 3rem;
}

.sobreMi h2{
    display: inline-block;
    border-bottom: 1px solid #000000;
    padding-bottom: 5px;
}

.sobreMi p {
    padding: 10px 0 10px 0;
}

.habilidades{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    height: 500px;
}

.habilidades__titulo{
    text-align: center;
    border-bottom: 1px solid #000000;
    padding-bottom: 5px;
}

.habilidades__parrafo{
    margin: 1.5rem;
}

.habilidades__frameHerra{
    width: 100%;
}

.habilidades-titulo{
    color:#1d90dd;
    display: inline-block;
    border-bottom: 1px solid #1d90dd;
    padding-bottom: 5px;
}
.habilidades-img{
    width:5%;
    margin: 1.2rem;
}

@media(max-width:480px){
    .conteiner {
        background-size: 100%;
        height:auto;
    }

    .perfil {
        display:block;
        color:white
    }  

    .img-perfil {
        float: left;
        margin-right: 15px;
    }

    .descripcion-perfil {
        width: 100%;
    }

    .descripcion-perfil h3{
        font-size:16px;
        color:#000000;
        font-weight: bold;
    }

    .descripcion-perfil{
        font-size: 13px;
    }

    .text-primary{
        font-size: 24px;
    }

    .perfil {
        padding: 15px;
    }
}
