*{
    margin: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.conteiner{
    background-image: url("img/ola.png");
    background-repeat: no-repeat;
    background-size: 38%;
    height: 100vh;
}

.mt-5{
    margin: 0 !important;
    padding: 32px;
}
.perfil{
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
}

.img-perfil{
    width:15%;
    border-radius:10%;
    box-shadow: 10px 10px 30px rgb(8, 8, 8);
}

.descripcion-perfil{
    width: 50%;
}

.habilidades img{
    width:10%;
}

@media(max-width:480px){
    .conteiner {
            background-size: 100%;
    }

    .perfil {
        display:block;
        color:white
    }  

    .img-perfil {
        float: left;
        margin-right: 15px;
    }

    .descripcion-perfil {
        width: 100%;
    }

    .descripcion-perfil h3{
        font-size:16px;
        color:#000000;
        font-weight: bold;
    }

    .descripcion-perfil{
        font-size: 13px;
    }

    .text-primary{
        font-size: 24px;
    }

    .perfil {
        padding: 15px;
    }
}
