#contacto{
    background-color: #e4eaf7;
}

.contacto{
    display: flex;
}

.contacto__formulario{
    margin-left: 2rem;
}

.contacto__titulo{
    width: fit-content;
    padding-bottom: 5px;
    border-bottom: 1px solid #000000;
}

.formulario__legend{
    padding: 1rem 0;
    font-size: 0.75rem;
    width: 90%;
}

.formulario__container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 450px;
    border: none;
    width: 90%;
}

.formulario__container-input{
    position:relative;
}

.formulario__input, 
.formulario__textarea {
    border: none;
    border-bottom: 2px solid #939495;
    box-shadow: 0 5px 5px #00000020;
    padding: 1rem;
    width: calc(100% - 2rem) ;
    outline: none;
}

.formulario__input:focus {
    outline: none;
    color: #5e5d5d;
}

.formulario__input:focus~label,
.formulario__input:valid~label, 
.formulario__textarea:focus~label,
.formulario__textarea:valid~label{
    top: -15px;
    font-size: 12px;
    color: #2196f3;
    
}

.formulario__input:focus~.barra::before {
    width: 100%
}

.formulario__label {
    color: #B2B3B4;
    position: absolute;
    top: 12px;
    transition: 0.5s ease-in-out all;
    pointer-events: none;
    padding-left: 1rem;
}

.formulario-btn{
    width:10rem;
    padding: 0.75rem;
    background-color: #046AFC;
    border-radius: 0.5rem;
    display: block;
    transition: all .5s ease-in-out;
    border: none;
    color:#ffffff;
    font-size: 1.2rem;
    margin-top: 2.5rem;
}

.formulario-btn:hover{
    background-color: #052858;
    transform: scale(1.05);
}

.contenedorError .span {
    display: block;
    color: red;
    font-size: 0.75rem;
}

.span {
    display: none;
}

.barra {
    position: relative;
    display: block;
    width: 100%;
}

.barra::before {
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: #0414ef;
    transition: 0.3s ease width;
    left: 0;
}

.boton__enlace{
    text-decoration: none;
}

@media(max-width:1024px){
    .contacto__telefono {
            display: none;
        }

        .contacto__formulario {
            width: 65%;
            margin: auto;
        }
}

@media(max-width:768px) {
    .contacto__formulario{
        padding: 0;
        width: 100%;
    }

    .formulario-btn:hover {
        transform:none;
    }
}