#contacto{
    background-color: #e4eaf7;
}

.contacto{
    display: flex;
}

.contacto__formulario{
    padding-left: 1rem;
    
}

.contacto__formulario h2{
    width: fit-content;
    padding-bottom: 5px;
    border-bottom: 1px solid #000000;
}

.contacto__formulario-legend{
    padding: 1rem 0;
    font-size: 0.75rem;
}

.contacto__formulario-fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 450px;
    border: none;
    padding: 0;
}

.contacto__formulario-fieldset--etiqueta{
    font-size: 12px;
    color:#046AFC;
}

.contacto__formulario-fieldset input{
    display: block;
    width: calc(100% - 1rem);
    border: none;
    height: 1.5rem;
    outline: none;
}

.contacto__formulario-fieldset--textarea{
    border: none;
    padding: 0.5rem;
    outline: none;
    width: calc(100% - 1rem);
}

.contacto__formulario-enviar{
    width:10rem;
    padding: 0.75rem;
    background-color: #046AFC;
    border-radius: 0.5rem;
    display: block;
    transition: all .5s ease-in-out;
    border: none;
    color:#ffffff;
    font-size: 1.2rem;
    margin-top: 2.5rem;
}

.contacto__formulario-enviar:hover{
    background-color: #052858;
    transform: scale(1.2);
}

.contacto__container .contacto__container-span{
    color:red;
    font-size: 0.75rem;
}

.contacto__container--fondo{
    background-color: #ffffff;
    padding: 0.5rem;
}

.contacto__container-span{
    display: none;
}

@media(max-width:768px) {
    .contacto__img{
        display: none;
    }

    .contacto__formulario{
        padding: 0;
        width: 100%;
    }

    .contacto__formulario-enviar:hover {
        transform:none;
    }
}