.formacion{
    background-color: #e4eaf7;
}

.formacion__container{
    display: flex;
}

.formacion__detalles {
    margin: 0 auto;
}

.formacion__detalles-logo{
    background-color: #ffffff;
    text-align: center;
    box-sizing: border-box;
    height: 40vh;
    width: 20vw;
    position: relative;
}

.formacion__detalles-logo img{
    width: 18vw;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.formacion__detalles-titulo{
    font-size: 13px;
    padding: 0.25rem 0 0.25rem 0;
}

.formacion__detalles-anho{
    font-size: 13px;
}

@media(max-width:1024px) {
    .formacion__detalles-logo {
        height: 30vh;
    }
}

@media(max-width:768px){
    .formacion__detalles-logo{
        height: 20vh;
    }
}

@media(max-width:468px){
    .formacion__detalles {
        width: 90%;
        margin-bottom: 1rem;
    }

    .formacion__container{
        flex-direction: column;
        width: 70%;
        margin: auto;
    }

    .formacion__detalles-logo {
        width: 100%;
        height: 30vh;
    }
    
    .formacion__detalles-logo img{
        width: 70%;
    }
}