.formacion{
    background-color: #e4eaf7;
}

.formacion-borde{
    width: fit-content;
    margin: 0 auto 2rem;
}

.formacion__container{
    display: flex;
}
.formacion__detalles {
    width: fit-content;
    margin: auto;
    
}

.formacion__detalles-logo{
    /*background: #ffffff url("../img/alura.avif") no-repeat left / calc(100% - 0.35rem);*/
    width: 18rem;
    background-color: #ffffff;
    text-align: center;
    box-sizing: border-box;
}

.formacion__detalles-logo img{
    width: 74%;
}

.formacion__detalles-img{
    padding: 3rem 0;
    
}

.formacion__detalles-imagen {
    padding-top: 0.75rem;

}
.formacion__detalles-titulo{
    font-size: 13px;
    padding: 0.25rem 0 0.25rem 0;
}

.formacion__detalles-texto{
    font-size: 13px;
}

@media(max-width:468px){
    .formacion__container{
        flex-direction: column;
        width: 100%;
    }

    .formacion__detalles-logo{
        margin: 1rem 0 0.5rem 0;
    }
}