.habilidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.titulo {
    text-align: center;
    border-bottom: 1px solid #000000;
    padding-bottom: 5px;
}

.habilidades__parrafo {
    margin: 1.5rem;
}

.habilidades__frameHerra {
    width: 100%;
}

.habilidades-titulo {
    color: #1d90dd;
    display: inline-block;
    border-bottom: 1px solid #1d90dd;
    padding-bottom: 5px;
}

.slider{
    background-image: url("../img/html5-original.svg");
    background-size: cover;
    width: 10vw;
    height: 21vh;
    margin: auto;
    animation: mover 20s infinite;
}

@keyframes mover {
    10% {
        background-image: url("../img/css3-original.svg");

    }

    30% {
        background-image: url("../img/javascript-original.svg");
    }

    45% {
        background-image: url("../img/react-original.svg");
    }

    60% {
        background-image: url("../img/bootstrap-original.svg");
    }

    75% {
        background-image: url("../img/figma-original.svg");
    }

    90% {
        background-image: url("../img/git-original.svg");
    }

    100% {
        background-image: url("../img/html5-original.svg");
    }
}
/* .habilidades-img {
    width: 12%;
    margin: 1.2rem;
    transition: all 0.5s ease-in-out;
}

.habilidades-img:hover {
    transform: scale(1.2);
} */

@media(max-width:768px){
    .habilidades {
        height: auto;
    }
    .habilidades-img {
        margin: 1.2rem;
    }

    .habilidades__lenguajes-icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media(max-width:468px){
    .titulo{
        font-size: 1.2rem;
    }
}
