.cabecera {
    background-color: #00161C;
    top: 0;
    left: 0;
    height: 85vh;
    width: 15%;
    position: fixed;
    border-bottom-right-radius: 10px;
    transform: translate(-110%);
    transition: transform 0.3s ease-in-out;
    z-index: 2;
}

.spread {
    transform: translate(0);
}

.navegacion {
    height: 100%;
    align-items: center;
}

.menu__navegacion {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.menu__item {
    list-style: none;
    text-align: center;
}

.menu__enlace {
    color: #ffffff;
    text-decoration: none;
    
}

.menu__enlace:hover {
    color: #D4AF37;
    text-decoration: underline;
}

@media(max-width:768px) {
    .cabecera{
        width: 30%;
        height: 50vh;
    }
}

@media(max-width:468px){
    .cabecera {
        width: 40%;
        height: 60vh
    }
    .navegacion{
        height: auto;
    }
    .menu__navegacion{
        align-items: center;
        height: auto;
        margin: auto;
        line-height: 10vh;
        flex-wrap: wrap;
    }

    .menu__item {
        padding: 0;
        width: 6rem;
    }
}