.portada {
    background-color: #00161C;
    display: flex;
    height:100vh;
    color: #ffffff;
}

.portada__portada {
    background-image: linear-gradient(rgba(12, 12, 12, 0), rgba(0, 0, 0, 0.85)100%), url("../img/imagen-principal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.portada__container {
    width: 73%;
    font-weight: 700;
    margin: 0 auto 3rem;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat Alternates', sans-serif;
}

.hamburguer{
    width:1.5rem;
    position:fixed;
    top:10px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 5px 10px #00000050;
}

.portada__container-nombre{
    font-size: 2.5rem;
    margin: 1.5rem 0;
}

.portada__perfil {
    width: 30%;
}

.perfil__container {
    height: calc(100% - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.perfil__imagen {
    width: 150px;
    margin: auto;
    border-radius: 50%;
}

.perfil__datos{
    height: 35vh;
}

.perfil__datos-item{
    width: 90%;
    margin: auto;
    list-style: none;
    text-align: center;
}

.perfil__datos-link{
    text-decoration: none;
    color:#ffffff;
}

.perfil__datos-link:hover{
    color: #D4AF37;
}

.perfil__social {
    width: 100%;
    display: flex;
    justify-content: center;
}

.perfil__social-icon{
    background-color: #00161C;
    border-radius: 3px;
    height: 20px;
    margin-left: 10px;
}

@media(max-width:768px){
    .portada__portada {
        background-image: none;
        width: 100%;
        padding: 0;
    }

    .portada, .portada__imagen-datos, .portada__perfil-contenedor{
        height: auto;
    }

    .portada__imagen-datos>p:last-child {
        padding: 0 3rem 1rem 2rem;
        
    }

    .portada__imagen-datos>p:first-child {
        padding: 1rem 3rem 1rem 2rem;
        
    }

    .portada__imagen-datos h1 {
        padding: 0 3rem 2rem 2rem;
        font-size: 2rem;
    }

    .portada__perfil-contenedor{
        padding: 1rem 0;
    }

    .portada__perfil-contenedor h3{
        display: none;
    }

    .portada__social-imagen{
        margin-top: 0.5rem;
    }
}

@media(max-width:468px){
    .portada{
        background-color: #ffffff;
        flex-direction: column;
    }

    .portada__perfil-contenedor, .portada__imagen-datos>p:last-child, .portada__imagen-datos>p:first-child, .portada__imagen-datos h1{
        padding:1rem;
    }

    .portada__portada{
        text-align: center;
    }

    .portada__perfil{
        width: 100%;
        order: -1;
    }

    .portada__perfil-contenedor{
        width: 100%;
        height: calc(100% - 4rem);
        padding: 2rem 0;
        color:#000000;
        
    }

    .portada__imagen-datos{
        color: #000000;
        font-weight: normal;
    }

    .portada__perfil-contenedor h3 {
        display: block;
    }

    .portada__perfil-contenedor--ul{
        padding: 1rem;
        font-size: 0.85rem;
    }

}