.proyectos .titulo{
    width: fit-content;
    margin: 0 auto 2rem;
}

.proyectos__propios{
    padding-bottom: 4rem;
}

.proyectos__propios-encriptador, .proyectos__propios-alurageek{
    width: 60%;
    background-color: #f8f2f2;
}

.proyectos__propios-encriptador--img{
    display: block;
    width: 90%;
    margin: auto;
}

.proyectos__propios-contenedor{
    display: flex;
}

.proyectos__propios-detalles{
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: space-around;
    flex-grow: 1;
    align-self: center;
    padding-left: 2rem;
}

.proyectos__propios-detalles--boton{
    width: 70%;
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
}

.proyectos__propios-detalles--link{
    border:1px solid rgba(4, 106, 252, 0.5);
    height: calc(100% - 4rem);
    margin: 1rem 0.25rem 1rem 0;
    flex-grow: 1;
    padding: 1rem 0.25rem;
    text-align: center;
    text-decoration: none;
    color:#046AFC;
    display: block;
}

.proyectos__propios-detalles--link:hover {
    background-color: #046AFC;
    color: #ffffff;
}

@media(max-width:768px) {
    .challengEncriptador {
        width: 100%;
    }

    .proyectos__propios-contenedor{
        flex-direction: column;
    }

    .proyectos__propios-encriptador,
    .proyectos__propios-alurageek {
        width: 100%;
        order: -1;
    }

    .proyectos__propios-detalles{
        width: 50%;
        align-self: flex-start;
        margin-top: 1rem;
        padding-left: 0;
    }

    .proyectos__propios-detalles--link {
       padding: 1.2rem 0 0 0;
    }
}

@media(max-width:468px){
    .proyectos__propios-detalles--link {
        height: calc(100% - 2rem);
        padding: 0.6rem;
    }

    .proyectos__propios-detalles{
        height: calc(100% - 2rem);
        width: 75%;
        padding-left: 0;
    }
}