.proyectos__encriptador, .proyectos__alurageek {
    display: flex;
    padding: 2rem;
}

.proyectos__encriptador-imagen, .proyectos__alurageek-imagen {
    width: 60%;
    background-color: #f8f2f2;
    box-shadow: 0 5px 10px #00000030;
}

.proyectos__encriptador-img, .proyectos__alurageek-img {
    display: block;
    width: 95%;
    margin: 0.5rem auto;
}

.proyectos__encriptador-detalles{
    flex-grow: 1;
    align-self: center;
    margin-left: 2rem;
}

.proyectos__encriptador-detallesBtn, .proyectos__alurageek-detallesBtn{
    width: 8rem;
    padding: 1rem;
    background-color: #ffffff;
    margin: 1rem 1rem 0 0;
    border:1px solid #046AFC;
    cursor: pointer;
}

.proyectos__encriptador-detallesBtn:hover, .proyectos__alurageek-detallesBtn:hover{
    background-color: #046AFC;
    color:#ffffff;
}

.proyectos__alurageek-detalles{
    order:-1;
    flex-grow: 1;
    align-self: center;
    width: 40%;
    box-sizing: border-box;
    text-align: end;
    margin-right: 2rem;
}

.proyectos__alurageek-detallesBtn{
    margin-right:0 ;
    margin-left: 1rem;
}

@media(max-width:768px) {
    .challengEncriptador {
        width: 100%;
    }

    .proyectos__propios-contenedor{
        flex-direction: column;
    }

    .proyectos__propios-encriptador,
    .proyectos__propios-alurageek {
        width: 100%;
        order: -1;
    }

    .proyectos__propios-detalles{
        width: 50%;
        align-self: flex-start;
        margin-top: 1rem;
        padding-left: 0;
    }

    .proyectos__propios-detalles--link {
       padding: 1.2rem 0 0 0;
    }
}

@media(max-width:468px){
    .proyectos__propios-detalles--link {
        height: calc(100% - 2rem);
        padding: 0.6rem;
    }

    .proyectos__propios-detalles{
        height: calc(100% - 2rem);
        width: 75%;
        padding-left: 0;
    }
}